<ul> 
    <li><b>Name: </b><%= result.name %></li>
    <li><b>ID: </b><%= result._id %></li>
    <li><b>Email: </b><%= result.email %></li>
    <li><b>Movie ID: </b><%= result.movies_id %></li>
    <li><b>Comment: </b><%= result.text %></li>
    <li><b>Date: </b><%= result.date %></li>
</ul>