<ul> 
    <li>Name: <%= result.name %></li>
    <li>ID: <%= result._id %></li>
    <li>Email: <%= result.email %></li>
    <li>Movie ID: <%= result.movies_id %></li>
    <li>Comment: <%= result.text %></li>
    <li>Date: <%= result.date %></li>
</ul>