<div class="user_title">
  <h2>Delete / Update User</h2>
  <a href="/users">&larr; Back</a>
</div> 

<section class="articles" style="display:flex; flex-direction:row;">
  <div>
    <h2 class="articles_heading" style="font-weight:400;">Delete this user</h2>
    <li><b>Name: </b><%= result.name %></li>
    <li><b>ID: </b><%= result._id %></li>
    <li><b>Email: </b><%= result.email %></li><br>
        
    <form action="/users/<%= result._id %>?_method=DELETE" method="POST">
      <input type="submit" class="btn_delete" value="Delete">
    </form> 
  </div>

  <div style="margin-left:100px; width:300px"> 
    <h2 class="articles_heading" style="font-weight:400;">Update this user</h2>
      <form action="/users/<%= result._id %>?_method=PATCH" method="POST">

        <label for="name"><b>Name</b></label><br>
        <input type="text" name="name" placeholder="Enter name" value="<%= result.name %>"><br>

        <label for="email"><b>Email</b></label><br>
        <input type="email" name="email" placeholder="Enter email" value="<%= result.email %>"><br>

        <input type="submit" class="btn" value="Update">
      </form><br>
  </div>
</section> 


